.projects-1 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-2 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-3 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-4 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-5 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-6 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-7 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-8 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-9 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-10 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-11 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-12 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-13 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-14 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-15 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-16 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-17 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-18 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-19 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}

.projects-20 a {
    text-decoration: none;
    color: rgb(213, 41, 41);
}